<% layout("./layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
        <h3>Create New Listing</h3>
        <form method="POST" action="/listings" novalidate class="needs-validation">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
            name="listing[title]"
            type="text"
            placeholder="Enter Name of property"
            class="form-control"
            required
          />
          <div class="valid-feedback">
            Title Looks good!
          </div>
          <div class="invalid-feedback">
            Please enter a catchy title.
          </div>
          </div>  
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea
            name="listing[description]"
            type="text"
            placeholder="Enter Description of property"
            class="form-control"
            required
            ></textarea>
            <div class="invalid-feedback">
              Please write a short decription.
            </div>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image Url</label>
            <input
            name="listing[image]"
            type="text"
            placeholder="Enter image url/link of property"
            class="form-control"
            />
          </div>
          <div class="row">
            <div class="mb-3 col-md-4">
              <label for="price" class="form-label">Price</label>
              <input name="listing[price]" type="number" placeholder="Enter Price " class="form-control" required/>
              <div class="invalid-feedback">
                Please enter valid price.
              </div>
            </div>
            <div class="mb-3 col-md-8">
              <label for="country" class="form-label">Country</label>
              <input name="listing[country]" type="text" placeholder="Enter country" class="form-control" required/>
              <div class="invalid-feedback">
                Please enter a valid  country.
              </div>
            </div>
          </div>
          
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" type="text" placeholder="Enter location" class="form-control" required/>
            <div class="invalid-feedback">
              Please enter a valid  loication.
            </div>
          </div>
          <button class="btn btn-dark btn-add">Add Listing</button>
          <br><br>
        </form>
    </div>
  </div>
</body>
