<% layout("./layouts/boilerplate") %>
<body>
  <h3>Create New Listing</h3>
  <form method="POST" action="/listings">
    <input
      name="listing[title]"
      type="text"
      placeholder="Enter Name of property"
    />
    <br /><br />
    <textarea
      name="listing[description]"
      type="text"
      placeholder="Enter Description of property"
    ></textarea>
    <br /><br />
    <input
      name="listing[image]"
      type="text"
      placeholder="Enter image url/link of property"
    />
    <br /><br />
    <input name="listing[price]" type="number" placeholder="Enter Price " />
    <br /><br />
    <input name="listing[country]" type="text" placeholder="Enter country" />
    <br /><br />
    <input name="listing[location]" type="text" placeholder="Enter location" />
    <br /><br />
    <button>Add Listing</button>
  </form>
</body>
